<nav class="index <%= 'scrolled down tagged' if @tagged || @photo_grid %>">

  <% if @tags.length > 0 %>
    <div id='filters' class="clearfix">
      <div class="filter-work">WORK</div>
      <div class="tags-container">
        <% @tags.each do |tag| %>
          <div class="tag">
            <a href=".?tagged=<%= tag.name %>&grid=photos"><%=tag.name.upcase%></a>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= link_to root_path do %>
    <span id="logo">Jaime Johnson</span>
  <% end %>
  <%= link_to "INFO", info_path, class: 'about-link' %>
</nav>
