<nav class="index <%= 'scrolled down' if (@photo_grid || @disable_hero) %>
  <%= 'tagged' if @tagged %>">

  <% if @tags.length > 0 %>
    <div id='filters' class="clearfix">
      <div class="filter-work">WORK</div>
      <div class="tags-container">
        <% @tags.each do |tag| %>
          <div class="tag">
            <a href=".?tagged=<%= tag.name %>&grid=photos"><%=tag.name.upcase%></a>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= link_to root_path, class: 'logo' do %>
    <span id="logo">Jaime Johnson</span>
  <% end %>

  <% if !@tagged %>
    <div class="nav-icons">
      <a href="/">
        <div class="nav-icon__album-button <%= 'active' if !@photo_grid %>"></div>
      </a>
      <a href=".?grid=photos">
        <div class="nav-icon__image-button <%= 'active' if @photo_grid %>"></div>
      </a>
    </div>


  <% end %>

  <%= link_to "INFO", info_path, class: 'about-link' %>
</nav>
