<%= render "shared/nav" %>
<div id='content' class="album" style="background-color: <%= @album.settings(:base).background_color %>">

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <% @album.visible_images.each do |image| %>
        <div class='swiper-slide' data-caption="<%= image.caption %>">
          <div class="image-cover left"></div>
          <div class="image-cover right"></div>
          
          <div class="slide-inner">
            <div class='background-image' style="background-image: url(<%= image.file.url(:original) %>)"></div>
            <% if image.child_image && image.child_image.visible? %>
              <div class='background-image' style="background-image: url(<%= image.child_image.file.url(:original) %>)"></div>
            <% end %>
          </div>

        </div>
      <% end %>
    </div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

  <footer>
    <div class='page-count'>
      <span>1</span>
      / <%= @album.visible_images.count %>
    </div>
    <div id='caption'></div>

    <div class='album-navigation previous-album'>
      <%= link_to 'Previous Story', album_path(@previous_album.slug) %>
    </div>
    <div class='album-navigation next-album'>
      <%= link_to 'Next Story', album_path(@next_album.slug) %>
    </div>
  </footer>
</div>
