<%= render "shared/nav" %>
<div id='content' class="album">

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <% @album.images.each do |image| %>
        <div class='swiper-slide' data-caption="<%= image.caption %>">
          <%= image_tag image.file.url(:original), class: 'swiper-lazy' %>
          <div class="swiper-lazy-preloader"></div>
        </div>
      <% end %>
    </div>
    
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

  <footer>
    <div class='page-count'>
      <span>1</span>
      / <%= @album.images.count %>
    </div>
    <div class='previous-album'>
      <%= link_to 'Previous Story', album_path(@previous_album.slug) %>
    </div>
    <div id='caption'></div>

    <div class='next-album'>
      <%= link_to 'Next Story', album_path(@next_album.slug) %>
    </div>
  </footer>
</div>
