<%= render "shared/index_nav" %>
<div id='content' class="index" style="background-color: <%= @page.settings(:base).background_color %>">
  <% if !@tagged && !@photo_grid %>

    <div class="header-container">
      <% @images.each_with_index do |image, index| %>
        <header class="header-slideshow transparent" style="background-image: url(<%= image.file(:original) %>)">
          <div class="header-content text-center vertical-center">
            <h1><%= @page.title %></h1>
            <h2><%= @page.copy %></h2>
          </div>
          <div class="down-arrow"></div>
        </header>
      <% end %>
    </div>
  <% end %>

  <% if !@tagged && !@photo_grid %>
    <div class='view-toggle'>
      <% if @photo_grid %>
        <%= image_tag('album_view.svg') %>
      <% else %>
        <%= image_tag('image_view.svg') %>
      <% end %>
    </div>
  <% end %>

  <div class="grid">
    <div class="grid-sizer"></div>
    <% @albums.each do |album| %>
      <%= link_to album_path(album), class: "grid-item" do %>

        <div class="img-container">
          <div class="overlay">
            <div class="overlay-title text-center vertical-center">
              <%= album.name %>
            </div>
          </div>
          <%= image_tag album.cover_image.url(:thumb) %>
        </div>
      <% end %>
    <% end %>

    <% @images.each do |image| %>
      <%= link_to album_path(image.album, image: image.album.images.find_index(image), referrer: "grid"), class: "grid-item" do %>

        <div class="img-container">
          <div class="overlay">
            <div class="overlay-title text-center vertical-center">
            </div>
          </div>
          <%= image_tag image.file.url(:thumb) %>
        </div>
      <% end %>
    <% end %>

  </div>
</div>
