<%= render "shared/index_nav" %>
<div id='content' class="index" style="background-color: <%= @page.settings(:base).background_color %>">

  <% if !@tagged && !@photo_grid %>

    <div class="header-container">
      <% @slideshow_images.each_with_index do |image, index| %>
        <header class="header-slideshow transparent" style="background-image: url(<%= image.file(:original) %>)">
          <div class="header-content text-center vertical-center">
            <h1><%= @page.title %></h1>
            <h2><%= @page.copy %></h2>
          </div>
        </header>
      <% end %>

      <div class="down-arrow"></div>
    </div>
  <% end %>

  <div class="grid <%= 'no-header' if @photo_grid %>">
    <div class="grid-sizer"></div>
    <% @albums.each do |album| %>
      <%= link_to album_path(album), class: "grid-item" do %>

        <div class="img-container">
          <div class="overlay">

            <% if album.show_name_on_hover %>
              <div class="overlay-title text-center vertical-center">
                <%= album.name %>
              </div>
            <% end %>

          </div>
          <%= image_tag album.cover_image.url(:full) %>
        </div>
      <% end %>
    <% end %>

    <% @images.each do |image| %>
      <%= link_to tagged_path(@tag_name, image: @images.find_index(image)), class: "grid-item" do %>

        <div class="img-container">
          <div class="overlay">

            <% if image.album.show_name_on_hover %>
              <div class="overlay-title text-center vertical-center">
                <%= image.album.name %>
              </div>
            <% end %>

          </div>
          <%= image_tag image.file.url(:full) %>
        </div>
      <% end %>
    <% end %>

  </div>
</div>
