<%= render "shared/index_nav" %>

<div id='content' class="index" style="background-color: <%= @page.settings(:base).background_color %>">

  <% unless @disable_hero %>
    <% if (!@tagged && !@photo_grid) %>

      <div class="header-container">
        <% @slideshow_images.each_with_index do |image, index| %>
          <header class="header-slideshow transparent" style="background-image: url(<%= image.file(:original) %>)">
            <div class="header-content text-center vertical-center">
              <h1><%= @page.title %></h1>
              <h2><%= @page.copy %></h2>
            </div>
          </header>
        <% end %>

        <div class="down-arrow"></div>
      </div>
    <% end %>
  <% end %>

  <!-- No JS, for small only -->
  <div class="non-magic-grid <%= 'no-header' if (@photo_grid || @disable_hero) %>">
    <% @albums.each do |album| %>
      <%= link_to album_path(album), class: "grid-item" do %>
        <div class="overlay">
          <% if album.show_name_on_hover %>
            <div class='overlay-title text-center vertical-center'>
              <%= album.name %>
            </div>
          <% end %>
        </div>
        <%= image_tag album.cover_image.url(:medium) %>
      <% end %>
    <% end %>

    <% @images.each do |image| %>
      <%= link_to tagged_path(@tag_name, image: @images.find_index(image)), class: "grid-item" do %>
        <%= image_tag image.file.url(:medium) %>
      <% end %>
    <% end %>

  </div>

  <div class="magic-grid <%= 'no-header' if (@photo_grid || @disable_hero) %>">
    <% @albums.each do |album| %>
      <%= link_to album_path(album), class: "grid-item" do %>
        <div class="overlay">
          <% if album.show_name_on_hover %>
            <div class='overlay-title text-center vertical-center'>
              <%= album.name %>
            </div>
          <% end %>
        </div>
        <%= image_tag album.cover_image.url(:medium) %>
      <% end %>
    <% end %>

    <% @images.each do |image| %>
      <%= link_to tagged_path(@tag_name, image: @images.find_index(image)), class: "grid-item" do %>
        <%= image_tag image.file.url(:medium) %>
      <% end %>
    <% end %>

  </div>
</div>
